@import "tailwindcss";

@theme {
    /* Typography */
    --font-poppins: var("--font-poppins");
    --font-jetBrains: var("--font-jetBrains");

    /* Colors */
    --color-dark: #232323;
    --color-light: #E4E4E7;
}