@import "tailwindcss";

@theme {
    /* Typography */
    --font-poppins: var("--font-poppins");
    --font-jetBrains: var("--font-jetBrains");

    /* Colors */
    --color-dark: #181818;
    --color-light: #fff9fb;
}

@layer base {
    :root {
        color-scheme: dark;
    }

    fieldset {
        position: relative;
        width: 100%;
    }

    input {
        display: block;
        padding: 10px 5px;
        min-height: 30px;
        width: 100%;
        border-bottom: 1px solid #181818;
        appearance: none;
    }

    textarea {
        display: block;
        min-height: 100px;
        width: 100%;
        padding: 10px 5px;
        resize: none;
        font-size: 14px;
        background-color: transparent;
        border-bottom: 1px solid hsl(0, 0%, 9%);
        appearance: none;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    label {
        position: absolute;
        top: 0.7rem;
        left: 0;
        z-index: 10;
        line-height: 1.25rem;
        text-transform: capitalize;
        transition-duration: 300ms;
        transform: scale(1);
        pointer-events: none;
        background-color: transparent;
        color: hsla(0, 0%, 9%, 100%);
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
        transform: translateY(-20px) translateX(-10px) scale(0.75);
        background-color: #fff9fb;
        color: hsla(0, 0%, 9%, 50%);
    }

    textarea:focus + label,
    textarea:not(:placeholder-shown) + label {
        transform: translateY(-20px) translateX(-20px) scale(0.75);
        background-color: #fff9fb;
        color: hsla(0, 0%, 9%, 50%);
    }
}

@layer components {
    .customUnderlineLight {
        @apply relative after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-light after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100;
    }
    .customUnderlineDark {
        @apply relative after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-dark after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100;
    }
}
