@import "tailwindcss";

@theme {
    /* Typography */
    --font-poppins: var("--font-poppins");
    --font-jetBrains: var("--font-jetBrains");

    /* Colors */
    --color-primary: #232323;
    --color-secondary: #E3DEDB;
}